<div class="btn">
  <%= link_to (""), cocktails_path, class: "fas fa-chevron-left" %>
</div>
<div class="card-product">
  <div class="card-product-photo">
    <% photo = @cocktail.photo.attached? ? @cocktail.photo.key : "beenm9hmytd46g4gukh8" %>
    <%= cl_image_tag photo, width: 500, height: 600, crop: :fill%>
  </div>

<div class="card-right" class="text-center">
  <div class="card-product-info">
   <h1><%= @cocktail.name %></h1>
    <p>description of the cocktail</p>
    <h2>Ingredients</h2>
    <%= link_to (""), new_cocktail_dose_path(@cocktail.id), class: "far fa-edit" %>
    <div> <% @cocktail.doses.each do |dose| %>
      <p>
        <%= dose.ingredient.name %>
        <%= dose.description %>
        <%= link_to "delete",dose_path(dose.id), method: :delete %>
      </p>
      <%end%>
    </div>
  </div>
</div>







