<h1>Edit your fomula</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :ingredient_id, collection: Ingredient.all%>
<%= f.input :description%>
<%= f.submit value: "summit", class: "btn-ghost" %>
<%= link_to "Back", cocktails_path, class: "btn-ghost"%>
<% end %>

